/* 
    Created on : 04-jun-2014, 22:11:46
    Author     : NAIROBYALBARRAN
*/

html, body{
    margin: 0;
    padding: 0;
    border:none;
    height: 100%;
}

#two { height: 100% }

#two .ui-content{
    height: 80%;

}
#map  {
    width: 100%;
    height: 100%;
    background: rgba(0,255,0,0.5);  //verde si no hay mapa 

}
.titulo{
    font-size: 20px;
}
@font-face{
    font-family: 'FiraSans';
    src: url('FiraSansOT-Light.otf');
}

li {
    display: block;  
}
#creditos {
    text-align: center; 
    margin:   0 auto 0 auto;
    font-size: 20px;
}

img{
    max-width: 100%;
    margin:0 auto 0 auto;
    display:block; 
}


#titulo{
    height: 40px;
}

